.container {
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
}

.characterInfo {
    margin-left: 40px;

}

@media (max-width: 768px){
    .container {
      display: grid;
      margin-top: 20px;
      margin-left: 20px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    h1 {
       font-size: large;
    }
    h2 {
        font-size: small;
    }
    .characterInfo {
        margin-left: 20px;
        margin-bottom: 40px;;
    }
  }

  @media (max-width: 1024px){
    .container {
      display: grid;
      margin-top: 20px;
      margin-left: 20px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    h1 {
       font-size: large;
    }
    h2 {
        font-size: small;
    }
    .characterInfo {
        margin-left: 20px;
        margin-bottom: 120px;;
    }
  }
